# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
__pycache__/
venv/
venv312/
.venv/
env/
ENV/

# Environment variables / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db